body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  color: #F1F1F1;
}

/* ---------------------------- NAVBAR ---------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.313rem;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  height: 4.5rem;
}

.logo {
  margin-left: 2.8125rem; /* 45px */
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.25rem;
  margin-right: 2.8125rem; /* 45px */
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  letter-spacing: 0.625rem; /* 10px */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00796b;
}

/* ---------------------------- SUBNAV ----------------------------*/

.sub-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  height: 9.75rem;
  padding: 0 2.8125rem; /* 45px nas laterais */
}

.sub-navbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-navbar-title {
  color: white;
  font-size: 2rem; /* 20px ou ajuste conforme o design */
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 3.2rem;
}

.sub-nav-links {
  list-style: none;
  display: flex;
  gap: 1.875rem;
  padding: 1.5rem 0;
  margin-top: 10px;
}

.sub-link {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem; /* 24px */
  padding-bottom: 1rem;
  transition: color 0.3s;
}

.sub-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.875rem; /* 14px */
  border-radius: 999px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.siepe{
  margin-top: 76px;
}

.siepe-icon {
  width: 1rem; /* ou o tamanho que preferir */
  height: auto;
  margin-left: 0.2rem; /* 6.5px */
}

.sub-link:hover::after,
.sub-link.active::after {
  width: 100%;
}

/* ---------------------------- Conteúdo Principal ----------------------------*/

.conteudo-principal {
  position: relative;
  width: 100%;
}

/* Div roxo */
.fundo-roxo {
  background-color: #D0C6FF;
  height: 15.625rem; /* 250px */
  width: 100%;
  box-shadow: 0 1px 8px #2D2D2D;
  position: relative;
  z-index: 1;
  border-radius: 0 0 35px 35px;
  border-bottom: 2px solid #2D2D2D;
}

.fundo-roxo > h3 {
  font-size: 4rem;
  padding: 85px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  color: #2D2D2D;
  margin: 0;
}

/*---------------------- Footer -----------------------------*/

.barra{
  margin: auto;
  width: 18.063rem;
  height: 1.125rem;
  border-radius: 100px;
  background-color: #2D2D2D;
  margin-top: 8rem;
  margin-bottom: 3.25rem;
}

.footer {
  width: 100%;
  margin-top: 5rem; /* espaço do conteúdo até o footer */
}

.footer-contato {
  text-align: center;
  width: 100%;
  margin-bottom: 4.25rem;
}

.footer-contato .duvidas {
  color: #2D2D2D;
  font-size: 2rem; /* equivalente a 32px */
  margin-bottom: 0.5rem;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

.footer-contato .email-contato {
  color: #2D2D2D;
  font-size: 1.5rem; /* equivalente a 24px */
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

.footer-inferior {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #2D2D2D;
  height: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  text-align: center;
  padding: 0 20px;
}